VITE_API_BASE_URL=http://127.0.0.1:3000
VITE_ZUS_RELAYER_URL=http://127.0.0.1:4000
VITE_STARKNET_RPC_URL=https://starknet-sepolia.public.blastapi.io/rpc/v0_8
VITE_STARKNET_PROTOCOL_ADDRESS=0xYourZusProtocolAddress
VITE_STARKNET_VERIFIER_ADDRESS=0xYourVerifierAddress
VITE_STARKNET_PAYOUT_TOKEN_ADDRESS=0xYourPayoutTokenAddress
VITE_ZUS_CAMPAIGN_MESSAGE=ZUSMVP01
VITE_ZUS_DEFAULT_PAYOUT=0.0001
VITE_ZUS_DEFAULT_FUNDING=0.0001
VITE_ZUS_DEFAULT_PAYOUT_WEI=100000000000000
VITE_ZUS_DEFAULT_FUNDING_WEI=100000000000000
VITE_STARKNET_EXPLORER_BASE_URL=https://sepolia.starkscan.co/tx/
VITE_STARKNET_EXPLORER_SITE_URL=https://sepolia.starkscan.co/
VITE_STARKNET_CHAIN_ID=SN_SEPOLIA
VITE_STARKNET_NETWORK_NAME=Starknet Sepolia
