VITE_API_BASE_URL=http://127.0.0.1:3000
VITE_RPC_URL=https://testnet.evm.nodes.onflow.org
VITE_ZUS_PROTOCOL_ADDRESS=0xYourZusProtocolAddress
VITE_ZUS_VERIFIER_ADDRESS=0xYourVerifierAddress
VITE_ZUS_CAMPAIGN_MESSAGE=ZUSMVP01
VITE_ZUS_DEFAULT_PAYOUT_FLOW=0.0001
VITE_ZUS_DEFAULT_FUNDING_FLOW=0.0001
VITE_ZUS_DEFAULT_PAYOUT_WEI=100000000000000
VITE_ZUS_DEFAULT_FUNDING_WEI=100000000000000
VITE_EXPLORER_BASE_URL=https://evm-testnet.flowscan.io/tx
VITE_EXPLORER_SITE_URL=https://evm-testnet.flowscan.io/
VITE_CHAIN_ID=545
VITE_CHAIN_HEX_ID=0x221
VITE_NETWORK_NAME=Flow EVM Testnet
